# Go binary files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Build directories
/bin/
/obj/

# Vendor directory (if using vendoring)
vendor/

# Go workspace files
go.work
go.work.sum

# Dependency directories
/pkg/
/node_modules/

# IDE/editor specific files
.idea/
.vscode/

# Mac system files
.DS_Store

# Logs
*.log

# Test coverage
*.out

# Ignore editor swap files
*~
.env